<!DOCTYPE html>
<html>
    <head><title><%= title %></title><link rel='stylesheet' href='/stylesheets/style.css' /></head>
    <body><img class="imgfull" src="http://hedwig.local:8080/?action=stream" /></body>
</html>
